@charset "utf-8";

/*
=============================================
|  議곗꽦誘�    SungMin Jo                    |
|  Cell: +82-10-8837-4565, 010-8837-4565    |
|  Home: http://www.alitaz.com              |
|  e-mail: miracle_runa@naver.com           |
=============================================
*/

#main_wrap {width:100%;position:relative;}

#main_visual_wrap {width:100%;background:url('../img/main/mv_bg.png') center center no-repeat;height:479px;}
.main_visual {width:1052px;height:100%;margin:0 auto;position:relative;}

.mv_cert_wrap {padding:40px 0 0 30px;}
.mv_cert_wrap img {display:block;margin-bottom:45px;}
.mv_cert_box {width:316px;height:64px;line-height:64px;border-radius:5px;box-shadow:0px 0px 8px rgba(0,0,0,0.25);overflow:hidden;margin-bottom:15px;}
.mv_cert_box a {display:block;}
.mv_cert_btn1 {background:#41b1fd;color:#fff;position:relative;font-size:19px;padding:0 15px;}
.mv_cert_btn1::after {font-family:"FontAwesome";content:'\f054';position:absolute;right:17px;top:2px;}
.mv_cert_btn1:hover {background:#50b8ff;}

.mv_cert_search_wrap {height:64px;box-shadow:inset 0px 0px 5px 0px rgba(0,0,0,0.55);background:#fff;}
.mv_cert_search_wrap input {float:left;padding-left:15px;width:260px;height:64px;border:0;box-sizing:border-box;font-size:19px;background:none;}
.mv_cert_search_wrap button {float:right;border:0;color:#01355f;background:none;width:50px;height:64px;line-height:64px;text-align:center;font-size:19px;}
.mv_cert_search_wrap button i {position:relative;top:-1px;}

.mv_report_wrap {position:absolute;width:707px;height:452px;top:20px;right:-102px;background:url('../img/main/mv_report_bg.png') center center no-repeat;}
.mv_report {position:relative;}
.mv_report a {position:absolute;top:-10px;right:105px;}

#main_visual2_wrap {width:100%;background:url('../img/main/mv2_bg.png') center center no-repeat;height:574px;}
.main_visual2 {width:1144px;height:100%;margin:0 auto;position:relative;}

.mv2_cert_wrap {position:absolute;top:113px;left:50px;}
.mv2_cert_wrap ul {padding:30px 0 0 0;overflow:hidden;}
.mv2_cert_wrap ul li {float:left;margin-right:8px;}
.mv2_cert_wrap ul li a {display:block;width:140px;height:43px;font-size:18px;line-height:43px;text-align:center;border:1px solid #034c82;color:#034c82;}
.mv2_cert_wrap ul li a:hover {border-color:#156dae;color:#156dae;}

.mv2_exp_wrap {position:absolute;width:388px;height:574px;top:0;right:0;background:url('../img/main/mv2_exp.png') center center no-repeat;}
.mv2_exp_wrap a {position:relative;top:350px;margin:0 auto;display:block;width:140px;height:43px;font-size:18px;line-height:43px;text-align:center;border:1px solid #fff;color:#fff;}
.mv2_exp_wrap a:hover {border-color:#d4e8f4;color:#d4e8f4;}

#main_standard_wrap {width:100%;background:url('../img/main/main_standard_bg.png') top center no-repeat #205781;}
.main_standard {width:1200px;text-align:center;margin:0 auto;}
.main_standard strong {padding:30px 0 30px 0;line-height:38px;font-size:38px;display:block;color:#fff;}
.main_standard strong img {display:inline-block;margin-bottom:10px;}
.main_standard strong span {color:#a4cd17;}
.main_standard ul {overflow:hidden;}
.main_standard ul li {margin:10px;font-size:15px;color:#fff;width:210px;height:56px;line-height:56px;display:inline-block;background:rgba(95,180,238,0.33);border:1px solid rgba(255,255,255,0.25);border-radius:56px;box-shadow:0px 0px 8px rgba(0,0,0,0.25);text-align:center;font-weight:bold;}
.main_standard div {padding:20px 0 40px 0;font-size:20px;color:#fff;line-height:25px;}
.main_standard div span {color:#5fb4ee;}


#main_service_wrap {height:620px;padding:75px 0;}
.dg-container {width:100%;height:470px;position: relative;}
.dg-wrapper {width:452px;height:270px;margin:0 auto;position:relative;-webkit-transform-style:preserve-3d;-moz-transform-style: preserve-3d;-o-transform-style: preserve-3d;-ms-transform-style: preserve-3d;transform-style: preserve-3d;-webkit-perspective: 1000px;-moz-perspective: 1000px;-o-perspective: 1000px;-ms-perspective: 1000px;perspective: 1000px;}
.dg-wrapper a {	width: 452px;height: 270px;display:block;position:absolute;left:0;top:0;box-shadow: 0px 0px 10px rgba(0,0,0,0.15);}
.dg-wrapper a.dg-transition{-webkit-transition: all 0.5s ease-in-out;-moz-transition: all 0.5s ease-in-out;-o-transition: all 0.5s ease-in-out;-ms-transition: all 0.5s ease-in-out;transition: all 0.5s ease-in-out;}
.dg-wrapper a.service1 {background:url('../img/main/service_img1.png') no-repeat;}
.dg-wrapper a.service2 {background:url('../img/main/service_img2.png') no-repeat;}
.dg-wrapper a.service3 {background:url('../img/main/service_img3.png') no-repeat;}
.dg-wrapper a.service1.dg-center {background:url('../img/main/service_img1_ov.png') no-repeat;}
.dg-wrapper a.service2.dg-center {background:url('../img/main/service_img2_ov.png') no-repeat;}
.dg-wrapper a.service3.dg-center {background:url('../img/main/service_img3_ov.png') no-repeat;}
.dg-desc {position:relative;width:986px;margin:50px auto 0 auto;}
.dg-desc div {position:absolute;left:0;top:0;display:none;}
.dg-desc div:first-child {display:block;}
.dg-container nav {width:1160px;position: absolute;z-index:1000;bottom:125px;left:50%;margin-left:-580px;}
.dg-container nav span {cursor:pointer;width:26px;height:54px;opacity:0.8;}
.dg-container nav span:hover {opacity:1;}
.dg-container nav span.dg-prev {float:left;background:url('../img/main/nav_prev.png') no-repeat;}
.dg-container nav span.dg-next {float:right;background:url('../img/main/nav_next.png') no-repeat;}
