@charset "utf-8";

#sub_title_wrap {margin-top:60px;}
#sub_wrap.wht {background:#fff;padding:30px 0;}
#sub_wrap.gray {background:#fafbfc;padding:0;}

.menu-tab-box {background:#fff;height:40px;border-bottom:0;overflow-x:auto;overflow-y:hidden;}
.menu-tab-box.gray {background:#fafbfc;}
.menu_tab_wrap li {float:left;height:40px;}
.menu_tab_wrap:after {content:"";display:block;clear:both;}
.menu_tab_wrap li a {padding:0 14px;font-size:14px;border-bottom:solid 1px #e1e1e2;line-height:40px;}
.menu_tab_wrap li a.select, .menu_tab_wrap li a:hover  {border-bottom:solid 1px #9cc414;}

.sub-contents-block * {font-size:14px;color:#757575;}
.sub-contents-block {padding:20px 0 40px 0;}
.sub-contents-block.wht {background:#fff;}
#sub_wrap .sub-contents-block h3 {padding:20px 0 6px 0;line-height:24px;position:relative;text-align:center;font-size:24px;color:#000;font-weight:500;letter-spacing:-0.05em;}
#sub_wrap .sub-contents-block h3:before {content:"";width:30px;height:2px;background:#a4cd17;position:absolute;left:50%;top:0;margin-left:-15px;}
#sub_wrap .sub-contents-block h3 + p {font-size:14px;text-align:center;margin-bottom:30px;line-height:20px;}

.service-anc01 {padding:10px 30px;position:relative;}
.service-anc01 ul:after {content:"";display:block;clear:both;}
.service-anc01 li {float:left;}
.service-anc01 li > div {height:130px;}
.service-anc01 li > div a {display:table;border:solid 3px #bec6d0;position:relative;text-align:center;width:100%;}
.service-anc01 li > div a > p {display:table-cell;vertical-align:middle;height:124px;font-size:18px;color:#202021;}
.service-anc01 li > div a:before {content:"";width:30px;height:30px;background:url(/assets/themes/v1/mobile/img/ico_service.png) left top no-repeat;position:absolute;left:0;top:0;background-size:100px auto;}
.service-anc01 li > div a:after {content:"";width:30px;height:30px;background:url(/assets/themes/v1/mobile/img/ico_service.png) -30px top no-repeat;position:absolute;right:0;bottom:-1px;background-size:100px auto;}
.service-anc01 li > div a:hover {border-color:#005899;}
.service-anc01 li > div a:hover > p {font-weight:600;color:#000;}
.service-anc01 li > div a:hover::before {background-position:left -30px;}
.service-anc01 li > div a:hover::after {background-position:-30px -30px;}
.service-anc01 .bx-controls-direction > a {display:block;position:absolute;width:14px;height:30px;text-indent:-999em;overflow:hidden;background:url(/assets/themes/v1/mobile/img/ico_service.png)  no-repeat;position:absolute;top:50%;margin-top:-15px;background-size:100px auto;}
.service-anc01 .bx-controls-direction > a.bx-prev {left:0;background-position:-60px top;}
.service-anc01 .bx-controls-direction > a.bx-next {right:0;background-position:-60px -30px;}
.service-anc01 .bx-pager {position:absolute;left:0;bottom:-20px;width:100%;text-align:center;}
.service-anc01 .bx-pager .bx-pager-item , .service-anc01 .bx-pager .bx-pager-item a {display:inline-block;}
.service-anc01 .bx-pager .bx-pager-item a {width:8px;height:8px;text-indent:-999em;overflow:hidden;border:solid 1px #bec6d0;border-radius:100%;margin:0 3px;}
.service-anc01 .bx-pager .bx-pager-item a.active {background:#bec6d0;}

.service-anc02 {margin-top:20px;text-align:center;}
.service-anc02:after {content:"";display:block;clear:both;}
.service-anc02 li {float:left;width:33.3333%;}
.service-anc02 li dl {margin:0;padding:0 6px;}
.service-anc02 li dt {font-size:13px;color:#4c4c4c;font-weight:400;letter-spacing:-0.05em;}
.service-anc02 li dd {font-size:11px;margin-top:5px;}

.service-anc03-box {background:#fff;padding:20px 10px 10px 10px;}
.service-anc03-box ul {margin:0;}
.service-anc03-box ul:after {content:"";display:block;clear:both;}
.service-anc03-box li {width:25%;padding:0 5px;text-align:center;float:left;}
.service-anc03-box li dt {font-size:13px;color:#4c4c4c;border-bottom:solid 1px #c1c1c1;padding-bottom:7px;font-weight:400;}
.service-anc03-box li dd {font-size:11px;margin-top:7px;}
.service-anc03-box .thumb {margin:10px 0 20px 0;}

@media screen and (max-width: 640px) {
	.service-anc03-box li {width:50%;}
}

.service-anc04-box {border-top:solid 2px #005899;}
.service-anc04-box + .service-anc04-box  {margin-top:15px;}
.service-anc04-box table {width:100%;}
.service-anc04-box th {text-align:center;background:#fafbfc;font-size:14px;color:#4c4c4c;height:40px;border:solid 1px #ebebeb;border-top:0;}
.service-anc04-box td {border:solid 1px #ebebeb;border-top:0;padding:20px 0;}
.service-anc04-box td li {float:left;text-align:center;width:33.3333%;}
.service-anc04-box td li strong {display:inline-block;font-size:24px;color:#005899;border-bottom:solid 1px #005899;line-height:1em;padding-bottom:3px;}
.service-anc04-box td li p {margin-top:5px;margin-bottom:0;font-size:11px;line-height:18px;padding:0 5px;}

.service-anc06-box {border:solid 1px #ebebeb;padding:0 10px;background:#fff;}
.service-anc06-box li {border-top:dashed 1px #ebebeb;padding:20px 0;text-align:center;clear:both;}
.service-anc06-box li:first-child {border-top:0;}
#sub_wrap .service-anc06-box li h4 {font-size:18px;color:#000;padding:0;margin-bottom:20px;}
#sub_wrap .service-anc06-box li .h4-box {padding-bottom:15px;}
#sub_wrap .service-anc06-box li .h4-box h4 {padding:0;margin-bottom:10px;}
#sub_wrap .service-anc06-box li .h4-box p {font-size:14px;margin-bottom:5px;}
#sub_wrap .service-anc06-box li .h4-box p.indent {margin-top:0;font-size:12px;line-height:18px;}
#sub_wrap .service-anc06-box li .h4-box > a {display:inline-block;margin-top:10px;line-height:28px;padding:0 30px;border:solid 1px #bbb;border-radius:5px;font-size:12px;color:#444;}
#sub_wrap .service-anc06-box li .h4-box > a > span {color:#005899;font-size:10px;padding-left:5px;}
#sub_wrap .service-anc06-box li.noicon:after {content:"";display:block;clear:both;}
#sub_wrap .service-anc06-box li > div.block {display:inline-block;width:32%;text-align:center;padding:0;margin:0;vertical-align:top;}
#sub_wrap .service-anc06-box li > div.block.one {width:50%;}
#sub_wrap .service-anc06-box li > div.block span {color:#4c4c4c;font-size:14px;}
#sub_wrap .service-anc06-box li > div.block span.icon {display:block;text-align:center;padding-top:60px;position:relative;}
#sub_wrap .service-anc06-box li > div.block span.icon:before {content:"";width:50px;height:50px;background:url(/assets/themes/v1/mobile/img/ico_car2.png) center top no-repeat;background-size:50px auto;position:absolute;left:50%;top:0;margin-left:-40px;}{content:"";width:80px;height:70px;background:url(/assets/themes/v1/mobile/img/ico_car.png) center top no-repeat;position:absolute;left:50%;top:0;}
#sub_wrap .service-anc06-box li > div.block span.icon.icoB:before {background-position:center -50px;margin-left:-25px;}
#sub_wrap .service-anc06-box li > div.block span.icon.icoC:before {background-position:center -100px;margin-left:-25px;}
#sub_wrap .service-anc06-box li > div.block span.icon.ico02:before {background-position:center top;margin-left:-25px;}
#sub_wrap .service-anc06-box li > div.block p {padding-top:60px;position:relative;font-size:11px;line-height:17px;}
#sub_wrap .service-anc06-box li > div.block.one p {font-size:14px;}
#sub_wrap .service-anc06-box li > div.block p:before {content:"";width:50px;height:50px;background:url(/assets/themes/v1/mobile/img/ico_car.png) center top no-repeat;position:absolute;left:50%;top:0;margin-left:-25px;background-size:50px auto;}
#sub_wrap .service-anc06-box li > div.block p.ico01:before {background-position:center top;}
#sub_wrap .service-anc06-box li > div.block p.ico02:before {background-position:center -50px;}
#sub_wrap .service-anc06-box li > div.block p.ico03:before {background-position:center -100px;}
#sub_wrap .service-anc06-box li > div.block p.ico04:before {background-position:center -150px;}
#sub_wrap .service-anc06-box li > div.block p.ico05:before {background-position:center -200px;}
#sub_wrap .service-anc06-box li > div.block p.ico06:before {background-position:center -250px;}
#sub_wrap .service-anc06-box li > div.block p.ico07:before {background-position:center -300px;}
#sub_wrap .service-anc06-box li > div.block span + p {margin-top:10px;}
#sub_wrap .service-anc06-box li > div.arrow {position:relative;}
#sub_wrap .service-anc06-box li > div.arrow:after {content:"";width:32px;height:64px;background:url(/assets/themes/v1/mobile/img/ico_arrow.png) left top no-repeat;position:absolute;right:-21px;top:35px;z-index:1;}

.toggle-cont {display:none;}
.toggle-cont, p + .table-box {margin-top:20px;}
.table-box {border-top:solid 2px #005899;}
.table-box table {width:100%;}
.table-box thead th {text-align:center;background:#fafbfc;color:#000;height:50px;border-bottom:solid 1px #ebebeb;border-left:solid 1px #ebebeb;font-size:12px;}
.table-box tbody th {text-align:center;color:#4c4c4c;border-bottom:solid 1px #ebebeb;border-left:solid 1px #ebebeb;padding:10px 0;font-size:12px;}
.table-box tbody th.bg {background:#fafbfc;}
.table-box tbody td {border-bottom:solid 1px #ebebeb;border-left:solid 1px #ebebeb;padding:10px;text-align:left;font-size:12px;line-height:18px}
.table-box tbody td p.dash {font-size:12px !important;line-height:18px}
.table-box tbody td.ac {padding:10px 3px;text-align:center;}
.table-box tbody td.ac img {max-width:90%;}
.table-box thead th:first-child, .table-box tbody th:first-child {border-left:0;}
.tbl-bottom {margin-top:10px;}
.tbl-bottom li {font-size:12px;line-height:18px;}

.contents-title-box {padding-bottom:20px;}
.contents-title-box > p {font-size:16px;color:#000;line-height:1.5em;letter-spacing:-0.05em;}
.contents-writer {padding-left:40px;position:relative;margin-top:25px;}
.contents-writer > span {display:block;color:#005899;font-size:10px;font-weight:800;text-align:center;width:35px;height:35px;border:solid 1px #c4c4c4;border-radius:100%;position:absolute;left:0;top:0;line-height:32px;font-style:italic;}
.contents-writer > strong {display:block;color:#000;font-size:12px;line-height:1.2em;}
.contents-writer > time {font-size:11px;color:#757575;line-height:1em;}
.contents-writer .hash {margin-top:10px;margin-left:-40px;}
.contents-writer .hash > span, .contents-writer .hash > a {display:inline-block;background:#f4faff;line-height:18px;color:#005899;font-size:11px;padding:0 6px;margin-right:3px;}
.contents-writer .sns {position:absolute;right:0;top:5px;}
.contents-writer .sns a {display:inline-block;width:25px;height:25px;text-indent:-999em;overflow:hidden;background:url(/assets/themes/v1/mobile/img/ico_sns.png) no-repeat;background-size:100px auto;}
.contents-writer .sns a.fb {background-position:left top;}
.contents-writer .sns a.tw {background-position:-30px top;}
.contents-writer .sns a.cp {background-position:-60px top;}
.contents-sample-box {background:#d2ebfd;padding:15px 15px 15px 100px;position:relative;}
.contents-sample-box .img {position:absolute;left:15px;top:20px;width:65px;}
.contents-sample-box .description {background:#fff;border-radius:10px;padding:10px 12px;position:relative;}
.contents-sample-box .description:before {content:"";display:inline-block; width:0; height:0; border-style:solid; border-width:18px;border-color:#fff transparent transparent transparent;position:absolute;left:-18px;top:10px;}
.contents-sample-box .description p {font-size:12px;color:#000;position:relative;z-index:1;line-height:1.5em;}
.contents-sample-box .description p + p {margin-top:15px;}
.contents-description-box {margin-top:15px;padding-bottom:50px;}
.contents-description-box p {font-size:14px;color:#757575;line-height:22px;}
#sub_wrap .contents-description-box h3 {font-size:18px;text-align:left;margin-bottom:8px;}
.contents-description-box p + h3 {margin-top:30px;}
.contents-description-box p + p {margin-top:12px;}
.contents-description-box .figure-box {margin:35px 0;text-align:center;}
#sub_wrap .contents-description-box .figure-box h4 {font-size:14px;margin-bottom:20px;padding:0;}
#sub_wrap .contents-description-box .figure-box h4 span {font-size:11px;display:block;color:#9e9e9e;margin-top:0;}
.contents-description-box .thumb-box {margin:30px 0;}
.contents-description-box .thumb-box ul {max-width:350px;margin:0 auto;}
.contents-description-box .thumb-box li {margin-top:10px;text-align:center;background:#f8f8f8;padding:20px;}
.contents-description-box .thumb-box li dl {margin:0;}
.contents-description-box .thumb-box li dt {font-size:18px;line-height:1em;color:#000;margin:15px 0;}
.contents-description-box .thumb-box li dd {font-size:14px;color:#4a4a4a;}
.contents-description-box .thumb-box2 {margin:30px 0;background:#f8f8f8;padding:15px 7px;}
#sub_wrap .contents-description-box .thumb-box2 h4 {text-align:center;margin-bottom:20px;font-size:14px;padding:0;}
.contents-description-box .thumb-box2 ul:after {content:"";display:block;clear:both;}
.contents-description-box .thumb-box2 li {float:left;width:33.3333%;padding:0 3px;box-sizing:border-box;text-align:center;}

.contents-relation-box {border-top:solid 1px #e8e8e8;}
#sub_wrap .contents-relation-box h3 {font-size:18px;text-align:left;margin-bottom:12px;color:#000;}
.contents-relation-box ul {margin-left:-10px;margin-top:-10px;}
.contents-relation-box ul:after {content:"";display:block;clear:both;}
.contents-relation-box li {padding-left:10px;width:50%;float:left;margin-top:10px;}
.contents-relation-box li > div  {border:solid 1px #e6e6e6;}
.contents-relation-box li > div .txt {padding:8px;font-size:12px;color:#212121;line-height:18px;margin:0;}
.contents-relation-box li > div .txt > a {display:-webkit-box;text-overflow:ellipsis;height:36px;overflow:hidden;-webkit-line-clamp: 2;-webkit-box-orient:vertical;}

.fPointC01 {color:#0b4777 !important;}
.thumb {text-align:center;margin-bottom:0;}
.thumb img  {max-width:100%;}
.blind {position:absolute; top:-9999em; left:-9999em; font-size:0; line-height:0;}
.underline {text-decoration:underline;}
.btns {display:block;-webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.15);-moz-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.15);box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.15);}
.btn-box {text-align:center;margin-top:40px;}
.btn-box > a {color:#fff;line-height:50px;background:#005899;border-radius:5px;font-size:15px;}
.btn-box > a + a {margin-top:10px;}
.btn-box > a.sky {background:#0076cc;}

