/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
Created on : 2016. 12. 2, 오후 8:46:57
Author     : leechanrin
*/


.block {
    position: relative;
    box-sizing: border-box;
    padding: $base-margin;
    margin-bottom: $base-margin;
    background-color:#fff;
    background-size: 100%;

    @media (min-width: $screen-desktop) {
        padding: $base-margin * 2;
    }

    @media (max-width: $screen-phone) {
        /*font-size:70%;*/
        padding-top:10%;
        padding-bottom:10%;
    }



    &:before,
        &:after {
        content: "";
        display: table;
    }

    &:after { clear: both; }

    :last-child {
        margin-bottom: 0;
    }

    &.block-flex{
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;

        > * { -ms-flex-negative: 1; }


        &.block-flex-top {
            -ms-flex-align: start;
            -webkit-align-items: flex-start;
            align-items: flex-start;
        }

        &.block-flex-middle {
            -ms-flex-align: center;
            -webkit-align-items: center;
            align-items: center;
        }

        &.block-flex-bottom {
            -ms-flex-align: end;
            -webkit-align-items: flex-end;
            align-items: flex-end;
        }

        &.block-flex-center {
            -ms-flex-pack: center;
            -webkit-justify-content: center;
            justify-content: center;
        }

        &.block-flex-right {
            -ms-flex-pack: end;
            -webkit-justify-content: flex-end;
            justify-content: flex-end;
        }

    }

    .block-particle {
        position:absolute;
        top:0;
        left:0;
        display:block;
        width:100%;
        height:1000px;
    }
    .block-text {
        z-index: 2;
    }



    &.block-homescreen {

        @media (min-width: $screen-desktop) {
            min-height:800px;
        }
        
        @media (min-width: $screen-phone) and (max-width: $screen-tablet) {
            min-height:400px;
            max-height:600px;
        }

        @media (max-width: $screen-phone) {
            min-height:150px;
            max-height:250px;
        }
    }

}
