.btn {
    font-weight: 200;
    /*    -webkit-transition: background-color 200ms linear;
        -moz-transition: background-color 200ms linear;
        -o-transition: background-color 200ms linear;
        -ms-transition: background-color 200ms linear;
        transition: background-color 200ms linear;*/

    -webkit-transition: background-color .1s;
    -moz-transition: background-color .1s;
    -ms-transition: background-color .1s;
    -o-transition: background-color .1s;
    transition: background-color .1s;

    &:active,
        &:hover {
        text-shadow: 1px 1px 1px rgba(0,0,0,.2);
    }
}

// .btn-default {
//         color:$gray;
// }
//
// .btn-outline {
//         background-color: transparent;
//
// }
.btn-float {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    /*line-height: 46px!important;*/
}

.btn-icon {
    width: 40px;
    line-height: 42px;
    height: 40px;
    padding: 0;
    text-align: center;
}
.btn-circle {
    border-radius: 50%;
}

.btn-outline {

    &.btn-primary {
        @include button-outline-variant($btn-primary-bg, $btn-primary-bg, $btn-primary-border);
    }
    // Success appears as green
    &.btn-success {
        @include button-outline-variant($btn-success-bg, $btn-success-bg, $btn-success-border);
    }
    // Info appears as blue-green
    &.btn-info {
        @include button-outline-variant($btn-info-bg, $btn-info-bg, $btn-info-border);
    }
    // Warning appears as orange
    &.btn-warning {
        @include button-outline-variant($btn-warning-bg, $btn-warning-bg, $btn-warning-border);
    }
    // Danger and error appear as red
    &.btn-danger {
        @include button-outline-variant($btn-danger-bg, $btn-danger-bg, $btn-danger-border);
    }
}

.btn-link {

}

.btn-file {
    position: relative;
    overflow: hidden;

    input[type=file] {
        position: absolute;
        top: 0;
        right: 0;
        min-width: 100%;
        min-height: 100%;
        font-size: 100px;
        text-align: right;
        filter: alpha(opacity=0);
        opacity: 0;
        outline: none;
        background: white;
        cursor: inherit;
        display: block;
    }
}

.contrast {

    .btn-outline {

        &.btn-primary {
            @include button-outline-contrast-variant($btn-primary-color, $btn-primary-bg, $btn-primary-color);
        }
        // Success appears as green
        &.btn-success {
            @include button-outline-contrast-variant($btn-success-color, $btn-success-bg, $btn-primary-color);
        }
        // Info appears as blue-green
        &.btn-info {
            @include button-outline-contrast-variant($btn-info-color, $btn-info-bg, $btn-primary-color);
        }
        // Warning appears as orange
        &.btn-warning {
            @include button-outline-contrast-variant($btn-warning-color, $btn-warning-bg, $btn-primary-color);
        }
        // Danger and error appear as red
        &.btn-danger {
            @include button-outline-contrast-variant($btn-danger-color, $btn-danger-bg, $btn-primary-color);
        }
    }
}



.pager {
    a:hover,
        a:focus {
        color:$pager-active-color;
    }

}