.card {
    position: relative;
    margin-bottom: $base-margin;

    .card-header {
        position: relative;
        padding:$base-margin;
        background: $brand-primary;
        color: #fff;

        .actions {
            position: absolute;
            right: 6px;
            z-index: 2;
            top: 10px;
            > li {
                display: inline-block;
                vertical-align: baseline;
            }

            > a,
            > li > a {
                width: 30px;
                height: 30px;
                display: inline-block;
                padding-top: 8px;
                border-radius: 50%;
                text-align:center;
                i {
                    color: rgba(255,255,255,.5);
                    font-size: 14px;
                }

                &:hover,
                    &:active {
                    background:rgba(255,255,255,.2);
                }
            }
        }


        h2 {
            margin: 0;
            line-height: 100%;
            font-size: 17px;
            font-weight: 400;

            small {
                display: block;
                margin-top: 5px;
                line-height: 160%;
            }
        }


        .btn-float {
            color:$text-color;
            position: absolute;
            right: 15px;
            bottom: -25px;
            z-index: 1;
        }



    }

    .card-header[class*=bg-] h2,
    .card-header[class*=bg-] h2 small,
    .nav-tabs li.active > a {
        color: #fff;
    }

    .card-body {
        background: $bg-default;
        padding:$padding-base-vertical $padding-base-horizontal;
    }


}