.hometainer {

        width:100%;
        padding:30px 0px;
        // min-height: 200px;


        &.hometainer-alt {
                padding:100px 0px;
                min-height: 300px;
        }

        &.hometainer-table {
                text-align: center;
                display: table-cell;
                vertical-align: middle;
        }




}
