.layout-normal {
        color: #212121;
        background: #f5f5f5;
        background-image: url('/assets/img/bg.jpg');
        background-repeat: repeat-x;
        background-position: top;
        background-attachment: fixed;
}

.layout-default {
}
.layout-wide {

}

.layout-error {
        padding:10%;

        .page-error {
                width:800px;
                max-width: 900px;
                text-align: center;
                margin: 0 auto;
        }
        .error-code {
                font-size:120px;
                font-weight: 300;
        }
        .error-text {
                font-size:24px;
                font-weight: 100;
        }
        .error-button {
                margin-top:20px;
        }
        .error-description {
                margin-top:20px;
                font-size:.9em;
                color:#555;
                text-align: left;
        }

}

#zfp-overlay {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 999;
        background-color: rgba(0, 0, 0, .65);
        display: none;
        opacity:.65;

        -webkit-transition: opacity .4s linear;
        -moz-transition: opacity .4s linear;
        -o-transition: opacity .4s linear;
        -ms-transition: opacity .4s linear;
        transition: opacity .4s  linear;
}
