.layout-default {

}

.layout-wide {

}

.layout-error {
        padding:10%;

        .page-error {
                width:800px;
                max-width: 900px;
                text-align: center;
                margin: 0 auto;
        }
        .error-code {
                font-size:120px;
                font-weight: 300;
        }
        .error-text {
                font-size:24px;
                font-weight: 100;
        }
        .error-button {
                margin-top:20px;
        }
        .error-description {
                margin-top:20px;
                font-size:.9em;
                color:#555;
                text-align: left;
        }

}

.layout-background {

        background-position: center center;
        background-attachment: fixed;
        background-repeat: no-repeat;


        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
        -o-background-size: cover;

}

// header {
// }
//
// footer {
//         padding:$line-height-computed 0px;
//         background-color:$footer-bg-color;
//
//         .footer-menu {
//                 font-size:13px;
//         }
//         .copyright {
//                 font-size:11px;
//                 color:$gray;
//         }
// }



#zfp-overlay {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 999;
        background-color: rgba(0, 0, 0, .65);
        display: none;
        opacity:.65;

        -webkit-transition: opacity .4s linear;
        -moz-transition: opacity .4s linear;
        -o-transition: opacity .4s linear;
        -ms-transition: opacity .4s linear;
        transition: opacity .4s  linear;
}
