.preloader{
	display: block;
	overflow: hidden;
	clear: both;
	text-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	box-sizing: border-box;

	.preloader_loader {
		margin:$line-height-computed auto;
		text-align: center;
		-webkit-align-items: center;
		-ms-flex-align: center;
		align-items: center;
		-webkit-justify-content: center;
		-ms-flex-pack: center;
		justify-content: center;
		box-sizing: border-box;
	}

	/* https://ihatetomatoes.net/create-css3-spinning-preloader */
	&.preloader_google {
		.preloader_loader {
			display: block;
			position: relative;
			width: 150px;
			height: 150px;
			border-radius: 50%;
			border: 3px solid transparent;
			border-top-color: $preloader-theme-color;
			-webkit-animation: preloader_google_spin 2s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
			animation: preloader_google_spin 2s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */

			&:before {
				content: "";
				position: absolute;
				top: 5px;
				left: 5px;
				right: 5px;
				bottom: 5px;
				border-radius: 50%;
				border: 3px solid transparent;
				border-top-color: lighten($preloader-theme-color, 25%);
				-webkit-animation: preloader_google_spin 3s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
				animation: preloader_google_spin 3s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
			}

			&:after {
				content: "";
				position: absolute;
				top: 15px;
				left: 15px;
				right: 15px;
				bottom: 15px;
				border-radius: 50%;
				border: 3px solid transparent;
				border-top-color: lighten($preloader-theme-color, 45%);
				-webkit-animation: preloader_google_spin 1.5s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
				animation: preloader_google_spin 1.5s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
			}
		}
	}


	&.preloader_bars {

		.preloader_loader,
		.preloader_loader:before,
		.preloader_loader:after {
			background: $preloader-theme-color;
			-webkit-animation: preloader_bars 1s infinite ease-in-out;
			animation: preloader_bars 1s infinite ease-in-out;
			width: 1em;
			height: 4em;
		}
		.preloader_loader {
			text-indent: -9999em;
			position: relative;
			font-size: 11px;
			-webkit-transform: translateZ(0);
			-ms-transform: translateZ(0);
			transform: translateZ(0);
			-webkit-animation-delay: -0.16s;
			animation-delay: -0.16s;

			&:before,
			&:after {
				position: absolute;
				top: 0;
				content: '';
			}
			&:before {
				left: -1.5em;
				-webkit-animation-delay: -0.32s;
				animation-delay: -0.32s;
			}
			&:after {
				left: 1.5em;
			}
		}

	}


	&.preloader_timer {

		.preloader_loader {
			width: 25px;
			height: 25px;
			background-color: transparent;
			box-shadow: inset 0px 0px 0px 2px $preloader-theme-color;
			border-radius: 50%;
			position: relative;

			&:after,
			&:before{
				position: absolute;
				content:"";
				background-color: $preloader-theme-color;
			}
			&:after{
				width: 10px;
				height: 2px;
				top: 11px;
				left: 11px;
				-webkit-transform-origin: 1px 1px;
				-moz-transform-origin: 1px 1px;
				transform-origin: 1px 1px;
				-webkit-animation: minhand 2s linear infinite;
				-moz-animation: minhand 2s linear infinite;
				animation: minhand 2s linear infinite;
			}

			&:before{
				width: 8px;
				height: 2px;
				top: 11px;
				left: 11px;
				-webkit-transform-origin: 1px 1px;
				-moz-transform-origin: 1px 1px;
				transform-origin: 1px 1px;
				-webkit-animation: hrhand 8s linear infinite;
				-moz-animation: hrhand 8s linear infinite;
				animation: hrhand 8s linear infinite;
			}

		}

	}

	&.preloader_pulse {
        
        min-height:110px;

		.preloader_loader:before,
		.preloader_loader:after,
		.preloader_loader {
			border-radius: 50%;
			width: 2.5em;
			height: 2.5em;
			-webkit-animation-fill-mode: both;
			animation-fill-mode: both;
			-webkit-animation: preloader_pulse 1.8s infinite ease-in-out;
			animation: preloader_pulse 1.8s infinite ease-in-out;
		}
		.preloader_loader {
			font-size: 10px;
			position: relative;
			text-indent: -9999em;
			-webkit-transform: translateZ(0);
			-ms-transform: translateZ(0);
			transform: translateZ(0);
			-webkit-animation-delay: -0.16s;
			animation-delay: -0.16s;

			&:before {
				left: -3.5em;
				-webkit-animation-delay: -0.32s;
				animation-delay: -0.32s;
			}
			&:after {
				left: 3.5em;
			}
			&:before,
			&:after {
				content: '';
				position: absolute;
				top: 0;
			}
		}

	}

	&.preloader_spinner {
		.preloader_loader {
			margin-top:.5em;
			margin-bottom:.5em;
			font-size: 90px;
			text-indent: -9999em;
			overflow: hidden;
			width: 1em;
			height: 1em;
			border-radius: 50%;
			position: relative;
			-webkit-transform: translateZ(0);
			-ms-transform: translateZ(0);
			transform: translateZ(0);
			-webkit-animation: preloader_spinner 1.7s infinite ease;
			animation: preloader_spinner 1.7s infinite ease;
		}
	}

	&.preloader_square {
		.preloader_loader {
			width: 50px;
			height: 50px;
			background: $preloader-theme-color;
			-webkit-animation: preloader_square 3s 0s cubic-bezier(.09, .57, .49, .9) infinite;
			animation: preloader_square 3s 0s cubic-bezier(.09, .57, .49, .9) infinite

		}

	}
}





@-webkit-keyframes preloader_square {
    25% {
        -webkit-transform: perspective(100px) rotateX(180deg) rotateY(0);
        transform: perspective(100px) rotateX(180deg) rotateY(0)
    }

    50% {
        -webkit-transform: perspective(100px) rotateX(180deg) rotateY(180deg);
        transform: perspective(100px) rotateX(180deg) rotateY(180deg)
    }

    75% {
        -webkit-transform: perspective(100px) rotateX(0) rotateY(180deg);
        transform: perspective(100px) rotateX(0) rotateY(180deg)
    }

    100% {
        -webkit-transform: perspective(100px) rotateX(0) rotateY(0);
        transform: perspective(100px) rotateX(0) rotateY(0)
    }
}

@keyframes preloader_square {
    25% {
        -webkit-transform: perspective(100px) rotateX(180deg) rotateY(0);
        transform: perspective(100px) rotateX(180deg) rotateY(0)
    }

    50% {
        -webkit-transform: perspective(100px) rotateX(180deg) rotateY(180deg);
        transform: perspective(100px) rotateX(180deg) rotateY(180deg)
    }

    75% {
        -webkit-transform: perspective(100px) rotateX(0) rotateY(180deg);
        transform: perspective(100px) rotateX(0) rotateY(180deg)
    }

    100% {
        -webkit-transform: perspective(100px) rotateX(0) rotateY(0);
        transform: perspective(100px) rotateX(0) rotateY(0)
    }
}

.preloader_square > div {
    width: 50px;
    height: 50px;
    background: #fff;
    -webkit-animation: preloader_square 3s 0s cubic-bezier(.09, .57, .49, .9) infinite;
    animation: preloader_square 3s 0s cubic-bezier(.09, .57, .49, .9) infinite
}












@-webkit-keyframes preloader_spinner {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
		box-shadow: 0 -0.83em 0 -0.4em $preloader-theme-color, 0 -0.83em 0 -0.42em $preloader-theme-color, 0 -0.83em 0 -0.44em $preloader-theme-color, 0 -0.83em 0 -0.46em $preloader-theme-color, 0 -0.83em 0 -0.477em $preloader-theme-color;
	}
	5%,
	95% {
		box-shadow: 0 -0.83em 0 -0.4em $preloader-theme-color, 0 -0.83em 0 -0.42em $preloader-theme-color, 0 -0.83em 0 -0.44em $preloader-theme-color, 0 -0.83em 0 -0.46em $preloader-theme-color, 0 -0.83em 0 -0.477em $preloader-theme-color;
	}
	10%,
	59% {
		box-shadow: 0 -0.83em 0 -0.4em $preloader-theme-color, -0.087em -0.825em 0 -0.42em $preloader-theme-color, -0.173em -0.812em 0 -0.44em $preloader-theme-color, -0.256em -0.789em 0 -0.46em $preloader-theme-color, -0.297em -0.775em 0 -0.477em $preloader-theme-color;
	}
	20% {
		box-shadow: 0 -0.83em 0 -0.4em $preloader-theme-color, -0.338em -0.758em 0 -0.42em $preloader-theme-color, -0.555em -0.617em 0 -0.44em $preloader-theme-color, -0.671em -0.488em 0 -0.46em $preloader-theme-color, -0.749em -0.34em 0 -0.477em $preloader-theme-color;
	}
	38% {
		box-shadow: 0 -0.83em 0 -0.4em $preloader-theme-color, -0.377em -0.74em 0 -0.42em $preloader-theme-color, -0.645em -0.522em 0 -0.44em $preloader-theme-color, -0.775em -0.297em 0 -0.46em $preloader-theme-color, -0.82em -0.09em 0 -0.477em $preloader-theme-color;
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
		box-shadow: 0 -0.83em 0 -0.4em $preloader-theme-color, 0 -0.83em 0 -0.42em $preloader-theme-color, 0 -0.83em 0 -0.44em $preloader-theme-color, 0 -0.83em 0 -0.46em $preloader-theme-color, 0 -0.83em 0 -0.477em $preloader-theme-color;
	}
}
@keyframes preloader_spinner {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
		box-shadow: 0 -0.83em 0 -0.4em $preloader-theme-color, 0 -0.83em 0 -0.42em $preloader-theme-color, 0 -0.83em 0 -0.44em $preloader-theme-color, 0 -0.83em 0 -0.46em $preloader-theme-color, 0 -0.83em 0 -0.477em $preloader-theme-color;
	}
	5%,
	95% {
		box-shadow: 0 -0.83em 0 -0.4em $preloader-theme-color, 0 -0.83em 0 -0.42em $preloader-theme-color, 0 -0.83em 0 -0.44em $preloader-theme-color, 0 -0.83em 0 -0.46em $preloader-theme-color, 0 -0.83em 0 -0.477em $preloader-theme-color;
	}
	10%,
	59% {
		box-shadow: 0 -0.83em 0 -0.4em $preloader-theme-color, -0.087em -0.825em 0 -0.42em $preloader-theme-color, -0.173em -0.812em 0 -0.44em $preloader-theme-color, -0.256em -0.789em 0 -0.46em $preloader-theme-color, -0.297em -0.775em 0 -0.477em $preloader-theme-color;
	}
	20% {
		box-shadow: 0 -0.83em 0 -0.4em $preloader-theme-color, -0.338em -0.758em 0 -0.42em $preloader-theme-color, -0.555em -0.617em 0 -0.44em $preloader-theme-color, -0.671em -0.488em 0 -0.46em $preloader-theme-color, -0.749em -0.34em 0 -0.477em $preloader-theme-color;
	}
	38% {
		box-shadow: 0 -0.83em 0 -0.4em $preloader-theme-color, -0.377em -0.74em 0 -0.42em $preloader-theme-color, -0.645em -0.522em 0 -0.44em $preloader-theme-color, -0.775em -0.297em 0 -0.46em $preloader-theme-color, -0.82em -0.09em 0 -0.477em $preloader-theme-color;
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
		box-shadow: 0 -0.83em 0 -0.4em $preloader-theme-color, 0 -0.83em 0 -0.42em $preloader-theme-color, 0 -0.83em 0 -0.44em $preloader-theme-color, 0 -0.83em 0 -0.46em $preloader-theme-color, 0 -0.83em 0 -0.477em $preloader-theme-color;
	}
}







@-webkit-keyframes preloader_pulse {
	0%,
	80%,
	100% {
		box-shadow: 0 2.5em 0 -1.3em $preloader-theme-color;
	}
	40% {
		box-shadow: 0 2.5em 0 0 $preloader-theme-color;
	}
}
@keyframes preloader_pulse {
	0%,
	80%,
	100% {
		box-shadow: 0 2.5em 0 -1.3em $preloader-theme-color;
	}
	40% {
		box-shadow: 0 2.5em 0 0 $preloader-theme-color;
	}
}


@-webkit-keyframes preloader_bars {
	0%,
	80%,
	100% {
		box-shadow: 0 0 $preloader-theme-color;
		height: 4em;
	}
	40% {
		box-shadow: 0 -2em $preloader-theme-color;
		height: 5em;
	}
}
@keyframes preloader_bars {
	0%,
	80%,
	100% {
		box-shadow: 0 0 $preloader-theme-color;
		height: 4em;
	}
	40% {
		box-shadow: 0 -2em $preloader-theme-color;
		height: 5em;
	}
}

@-webkit-keyframes minhand{
	0%{-webkit-transform:rotate(0deg)}
	100%{-webkit-transform:rotate(360deg)}
}
@-moz-keyframes minhand{
	0%{-moz-transform:rotate(0deg)}
	100%{-moz-transform:rotate(360deg)}
}
@keyframes minhand{
	0%{transform:rotate(0deg)}
	100%{transform:rotate(360deg)}
}

@-webkit-keyframes hrhand{
	0%{-webkit-transform:rotate(0deg)}
	100%{-webkit-transform:rotate(360deg)}
}
@-moz-keyframes hrhand{
	0%{-moz-transform:rotate(0deg)}
	100%{-moz-transform:rotate(360deg)}
}
@keyframes hrhand{
	0%{transform:rotate(0deg)}
	100%{transform:rotate(360deg)}
}


@-webkit-keyframes preloader_google_spin {
	0%   {
		-webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
		-ms-transform: rotate(0deg);  /* IE 9 */
		transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
	}
	100% {
		-webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
		-ms-transform: rotate(360deg);  /* IE 9 */
		transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
	}
}
@keyframes preloader_google_spin {
	0%   {
		-webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
		-ms-transform: rotate(0deg);  /* IE 9 */
		transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
	}
	100% {
		-webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
		-ms-transform: rotate(360deg);  /* IE 9 */
		transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
	}
}



@-webkit-keyframes preloader_type_b_first {
	75% { -webkit-transform: scale(0); }
}
@keyframes preloader_type_b_first {
	75% {
		transform: scale(0);
		-webkit-transform: scale(0);
	}
}
@-webkit-keyframes preloader_type_b_second {
	75% { -webkit-transform: scale(0); }
}
@keyframes preloader_type_b_second {
	75% {
		transform: scale(0);
		-webkit-transform:  scale(0);
	}
}

@-webkit-keyframes preloader_type_b_last {
	75% { -webkit-transform: scale(0); }
}

@keyframes preloader_type_b_last {
	75% {
		transform: scale(0);
		-webkit-transform: scale(0);
	}
}