.sidebar {
        .sidebar-search
        {
                width: 250px;
                height:100%;
                top: 0;
                /*overflow: hidden;*/
                position: fixed;
        }
}
