.table {
    thead {
        tr {
            th {
                border-bottom-width: 1px;
            }
        }
    }

    tbody {
        tr:last-child {
            th,td {

                border-bottom:solid 1px $table-border-color;
            }
        }
    }


    margin-bottom:0px;



}
