/* theme customize */
.layout-normal {

        #main {
                padding-top:70px !important;
        }


        #header {
                // background: #fff !important;
                .hi-menu {
                        &.hi-menu-lg {
                                .him-label {
                                        font-size:16px;
                                }
                        }

                        // > li > a {
                        //         color:#333;
                        //
                        //         &:hover,
                        //         &:active,
                        //         &:focus {
                        //                 color:#000;
                        //         }
                        // }
                }

        }


        .breadcrumb {

                margin:15px 0px 15px 0px;
                padding:10px;
                border-bottom:0 none;
                background: #fff;

        }

        #content {
                margin-top:15px !important;
        }


        .profile-avatar
        {
                &:hover {
                        background: none !important;
                }

                > img {
                        width: 34px;
                        height: 34px;
                        border-radius: 50%;
                        border: 3px solid rgba(0, 0, 0, 0.14);
                        box-sizing: content-box;
                }

        }
}


.layout-login
{
        #main {
                padding:0px !important;
        }

        #login-form
        {
                .has-error
                {
                        .input-group-addon
                        {
                                border-color:transparent;
                                background-color: initial;
                        }
                }
        }
}


.subnavigation {
        // position: absolute;
        // top: -100px;
        // left: 0;
        // height:200px;

}
