a {
    -webkit-transition: background-color 200ms linear;
    -moz-transition: background-color 200ms linear;
    -o-transition: background-color 200ms linear;
    -ms-transition: background-color 200ms linear;
    transition: background-color 200ms linear;
}



.text-black {
    color:#000;
}
.text-white {
    color:#fff;
}

.text-light {
    font-weight:300;
}
.text-lighter {
    font-weight:100;
}
.text-bold {
    font-weight:800;
}

.text-sm {
    font-size:90%;
}
.text-lg {
    font-size: 1.5em;
}
.text-xlg {
    font-size: 3em;
}
.text-middle-dot {
    vertical-align: middle;
    &::after{
        content: " \B7 ";
    }
}


//
// .page-header {
//     padding:$base-margin 0px;
//     border-bottom: solid 1px $border-color;
//     margin:$base-margin 0px;
//
//     h1,h2,h3,h4,h5,h6 {
//         font-weight: lighter;
//         margin:0px;
//         padding:0px;
//     }
//     span {
//         font-size:20px;
//         display:inline-block;
//         margin-right:15px;
//     }
// }
//
//
// .page-title {
//     padding:28px 15px 15px;
//     border-bottom:solid 1px $border-color;
//     background-color:#fff;
//     color:$gray-light;
//
//     h1,h2,h3,h4,h5,h6 {
//         font-weight: lighter;
//         margin:0px 0px 5px 0px;
//         padding:0px;
//     }
//
//     a {
//         color:$gray-light;
//     }
//
//     .divider {
//         color:$gray-light;
//     }
//     .active {
//         color:$brand-primary;
//     }
//
//     .desc {
//         color:$gray-light;
//     }
// }
// @media screen and (max-width: $screen-sm-min) {
//     .page-title {
//         /*padding:15px 5px 5px;*/
//         font-size:70%;
//     }
//
// }
